{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Search</span>

                    <form method="POST">
			{% csrf_token %}
                        <div class="row">
                            <div class="input-field col s6">
				{% render_field form.owner class+="validate" placeholder="torvalds"%}
                                <label for="owner">Repo Owner</label>
				{{form.owner.errors}}	    
                            </div>
                            <div class="input-field col s6">
				{% render_field form.repo_name class+="validate" placeholder="linux"%}
                                <label for="repo_name">Repo Name</label>
				{{form.repo_name.errors}}	    
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn deep-purple waves-effect waves-light" type="submit" name="action">Add Repo
                                    <i class="material-icons right">add</i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div> 
        <div class="col s2"></div>
    </div>
{% endblock %}
