{% load static %}

<!DOCTYPE html>
<html>
    <head>
	<!--Import Google Icon Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    
    <body>
	{% if request.user.is_authenticated %}

	    <ul id="dropdown1" class="dropdown-content">
		<li><a href="#!"></a></li>
		{% for repo in user.repos_set.all %}
		    <li><a href="{% url 'webapp:user_info' repo.owner repo.repo_name request.user.username %}">{{repo.owner}}/{{repo.repo_name}} </a></li>
		    <li class="divider"></li>
		{% endfor %}
		<li><a href="{% url 'repos:add' %}">Add another repo... </a></li>
	    </ul>
	{% endif %}
	  <nav>
	      <div class="nav-wrapper" style="background-color:#6200EE">
		  <a href="{% url 'site:index'%}" style="padding-left:10px" class="brand-logo ">Git Social</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
			  <li><a href="{% url 'site:index' %}">Home</a></li>
			  <li><a href="#">Web App</a></li>
		      <li><a href="#">Download App</a></li>
		      <li><a href="{% url 'site:apidocs' %}">API Documentation</a></li>
		      {% if request.user.is_authenticated %}
			  <li><a style='padding-right:10px' class="dropdown-trigger" href="#!" data-target="dropdown1">Hello, {{request.user.username}}. &nbsp;&nbsp; Checkout your repos!<i class="material-icons right">arrow_drop_down</i></a></li>
			  <li>
			      <a href="{% url 'users:logout'%}">[Logout]</a>
			  </li>
		      {% else %}
			  <li><a href="{% url 'users:login' %}">Login/Register</a></li>
		      {% endif %}
	      

		  </ul>
	      </div>
	  </nav>

			
	      {% if messages %}
		  {% for message in messages %}
		      <div class="materialert {{message.tags}}">  <!-- singular -->
<!--			  <button type="button" class="close-alert">×</button>-->
			  {{ message|safe }}
		      </div>
		  {% endfor %}
	      {% endif %}


	{% block content %}
	{% endblock %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script type="text/javascript">
	    $(".dropdown-trigger").dropdown();
	</script>
    </body>
</html>
